[user]
	name = bootjp / Yoshiaki Ueda
	email = contact@bootjp.me
	signingkey = 06B2D86A
[core]
	editor = nvim
[color "diff"]
  meta = 242 238
  frag = 239 236
  old = 167 normal
  new = 030 normal
  context = 240
  commit = 246 024

[diff]
  compactionHeuristic = true
[push]
  default = current
[delta]
    features = decorations
    line-numbers = true
    side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[pull]
	rebase = false
